
body {
    color: white;
    font-family: 'Open Sans', sans-serif;

    background:url("../img/background-sp.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}

.everything {
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}

.navbar-icon-link {
    margin: 0 1rem 0 1rem;
    padding: 0;
    color: white;
}

.navbar-background {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-background-languages {
    background-color: rgba(0, 0, 0, 0.4);
}

.greetings {
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.content {
    text-align: justify;
    font-size: 22px;

}

.hide {
    display: none;
}

.show {
    display: unset;
}

.selected-language {
    font-weight: bold;
}