
body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #0f0f0f;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    padding-top: 4.2em;
    padding-bottom: 4.2em;
}

.navbar-icon-link {
    margin: 0 1rem 0 1rem;
    padding: 0;
    color: white;
}

.greetings {
    text-align: center;
    margin: 0rem 0 0rem 0;
}

.content {
    text-align: left;
    font-size: 1.5rem;
}

.credits {
    font-size: 0.8rem;
    color: #666666;
}

.credits > a {
    color: #aaaaaa;
}

.sized-menu {
    height: 3.5em;
    background-color: #1e1e1e;
}

.highlighted {
    color: #2bcdff;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

.selected-language {
    font-weight: bold;
}